
<div class="row">
    <div class="container">
        <div class="col-md-6">
            <form action="/admin/add-product" method="post" enctype="multipart/form-data">
  <div class="form-group" >
    <label for="exampleInputEmail1">Item Name</label>
    <input name="Item_name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter item name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Price</label>
    <input  name="Item_price" type="number" class="form-control" id="exampleInputPassword1" placeholder="Enter price">
  </div>
   <div class="form-group">
    <label for="exampleFormControlFile1">Image</label>
    <input name="Image" type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
        </div>
    </div>
</div>


