<div class="row">
  <div class="col-md-3 p-3">
    {{#each products}}
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/product-images/{{this._id}}.jpg" alt="Card image cap" style="width: 100px; height: 150px">
  <div class="card-body">
    <h5 class="card-title">{{this.Item_name}}</h5>
    <p class="card-text">{{this.Item_price}}</p>
    <button onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add to cart</button>
  </div>
</div>
{{/each}}
  </div>
</div> 

<script>
  function addToCart(prodId){
    $.ajax({
      url:'/add-to-cart/'+prodId,
      method:'get',
      success:(response)=>{
        if(response.acknowledged){
          let count=$('#cart-count').html()
          count=parseInt(count)+1
          $('#cart-count').html(count)
        }
        alert(response)
      }
    })
  }
</script>


