<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="tag mr-auto ml-auto mt-5">
                <h2 class="mr-auto ml-auto">
                    Order Placed Successfully
                </h2><br>
                <a href="/view-orders" class="btn btn-primary">View Orders</a>
            </div>

        </div>
    </div>
</div>